[submodule "third-party/salgo"]
	path = third-party/salgo
	url = https://github.com/atablash/salgo.git
[submodule "third-party/tinyply"]
	path = third-party/tinyply
	url = https://github.com/atablash/tinyply.git
